# 指定特定文件为某种语言
*.py linguist-language=Python
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.json linguist-language=JSON

# 排除某些文件不被统计
*.min.js linguist-vendored
*.min.css linguist-vendored
*.pyc linguist-documentation
__pycache__/* linguist-documentation
node_modules/* linguist-documentation
*.log linguist-documentation
*.sqlite3 linguist-documentation

# 指定特定文件为文档
README.md linguist-documentation
LICENSE linguist-documentation
*.md linguist-documentation