services:
  postgres:
    image: postgres:15-alpine
    container_name: ${CONTAINER_NAME}-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: no
    env_file:
      - .env
    networks:
      - dj_network
    expose:
      - "5432"
  
  web:
    container_name: ${CONTAINER_NAME}
    image: hongzhe2022/djangoproject-web:9afc9df50fd5519ec3b6897e6e4c8f1b19132d94  # 使用拉取的镜像
    volumes:
      - .:/code
      - ./python_packages:/code/python_packages
      - /var/www/django_project/static:/var/www/django_project/static
    ports:
      - "${PORT}:8000"
    depends_on:
      - postgres
    networks:
      - dj_network
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0  # 添加Redis连接环境变量
    command: /bin/sh start.sh
    restart: no

  redis:
    image: redis:7-alpine
    container_name: ${CONTAINER_NAME}-redis
    restart: no
    volumes:
      - redis_data:/data
    networks:
      - dj_network
    expose:
      - "6379"

  celery_worker:
    container_name: ${CONTAINER_NAME}-celery
    image: hongzhe2022/djangoproject-web:9afc9df50fd5519ec3b6897e6e4c8f1b19132d94  # 使用拉取的镜像
    command: /bin/sh -c "sleep 5 && celery -A djangoProject worker --loglevel=info --concurrency=4"
    volumes:
      - .:/code
    depends_on:
      - redis
      - postgres
      - web
    networks:
      - dj_network
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    healthcheck:
      test: ["CMD", "celery", "-A", "djangoProject", "inspect", "ping", "-t", "10"]
      interval: 30s
      timeout: 20s
      start_period: 40s
      retries: 3
    restart: no

  celery_beat:
    container_name: ${CONTAINER_NAME}-celerybeat
    image: hongzhe2022/djangoproject-web:9afc9df50fd5519ec3b6897e6e4c8f1b19132d94  # 使用拉取的镜像
    command: /bin/sh -c "sleep 5 && celery -A djangoProject beat --loglevel=info"
    volumes:
      - .:/code
    depends_on:
      - redis
      - postgres
      - web
    networks:
      - dj_network
    env_file:
      - .env
    restart: no

volumes:
  postgres_data:
    name: "postgres_data"
  redis_data:
    name: "redis_data"

networks:
  dj_network:
    driver: bridge
